<div class="container">
    <div *ngFor="let card of cards" class="responsive-div">
        <div class="topic-box">
            <h3>{{ card.name }}</h3>
            <p>{{ card.name }}</p>
        </div>
        <div class="status">
            <span *ngIf="card.status == 'Pending'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/process.png" alt="Process Icon">
                <span style="color: #5f5fb6;"> {{ card.status }}</span>
            </span>
            <span *ngIf="card.status == 'Not Started'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/hold.png" alt="Process Icon">
                <span style="color: #e0aa33;"> {{ card.status }}</span>
            </span>
            <span *ngIf="card.status == 'Completed'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/complete.png" alt="Process Icon">
                <span style="color: #86bd86;"> {{ card.status }}</span>
            </span>
            <span *ngIf="card.status == 'In Progress'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/reject.png" alt="Process Icon">
                <span style="color: red;"> {{ card.status }}</span>
            </span>
        </div>
        <button (click)="subtopics(card.id)" class="edit-button">Edit</button>
    </div>
    <button (click)="submit()" class="edit-button">Submit</button>
    <br>
    <div class="responsive-div">
        <div class="topic-box">
            <h3>ESG REPORT</h3>
        </div>
        <div class="status">
            <span class="status-inline">
                <span style="color: #5f5fb6;"> 10/2/1022</span>
            </span>
        </div>
        <button class="edit-button">Generate PDF</button>
    </div>
</div>

<app-modal *ngIf="isModalOpen" (close)="closeModal()">
    <h2>{{errortitle}}</h2>
    <p style="font-size: 19px;">{{errormsg}}</p>
</app-modal>