<div class="container">
    <div *ngFor="let card of cards" class="responsive-div">
        <div class="topic-box">
            <h3>{{ card.name }}</h3>
            <p>{{ card.name }}</p>
        </div>
        <div class="status">
            <span *ngIf="card.status == 'Pending'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/process.png" alt="Process Icon">
                <span style="color: #5f5fb6;"> {{ card.status }}</span>
            </span>
            <span *ngIf="card.status == 'Not Started'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/hold.png" alt="Process Icon">
                <span style="color: #e0aa33;"> {{ card.status }}</span>
            </span>
        </div>
        <button (click)="subtopics(card.id)" class="edit-button">Edit</button>
    </div>
    <button (click)="subtopics(1)" class="edit-button">Submit</button>
</div>

<!-- <div class="card-container">
    <div class="card" *ngFor="let card of cards">
        <a [routerLink]="['/subtopics', card.id , report_id]" class="card-link">
            <div class="card-content">
                <img src="assets/images/firefox.png" alt="{{ card.title }}" class="card-image">
                <h3>{{ card.name }}</h3>
                <p>{{ card.status }}</p>
            </div>
        </a>
    </div>
</div> -->