<a routerLink="/">
  <img src="../../assets/images/logo.png" alt="Logo">
</a>

<img #menu (click)="showMenu()" src="../../assets/images/icon-hamburger.svg" alt="Menu">
<img #close (click)="closeMenu()" src="../../assets/images/icon-close.svg" alt="Close Menu">
<nav #nav>
  <a routerLink="" fragment="hero">Home</a>
  <a routerLink="" fragment="reason">Products</a>
  <a routerLink="" fragment="articles">Pricing</a>
  <a routerLink="" fragment="articles">Contact Us</a>
</nav>
<a routerLink="/signup" class="links">Sign Up</a>
<a routerLink="/login" class="links">Log In</a>