<a routerLink="/">
  <img src="../../assets/images/logo.png" alt="Logo">
</a>

<img #menu (click)="showMenu()" src="../../assets/images/icon-hamburger.svg" alt="Menu">
<img #close (click)="closeMenu()" src="../../assets/images/icon-close.svg" alt="Close Menu">
<nav #nav>
  <a routerLink="" fragment="hero" (click)="onNavItemClick()">HOME</a>
  <a routerLink="" fragment="reason" (click)="onNavItemClick()">PRODUCT</a>
  <a routerLink="" fragment="articles" (click)="onNavItemClick()">PRICING</a>
  <a routerLink="" fragment="articles" (click)="onNavItemClick()">CONTACT US</a>
  <a *ngIf="isLoggedIn" routerLink="/topics" (click)="onNavItemClick()">MY ACCOUNT</a>
  <a *ngIf="!isLoggedIn" style="color: white" routerLink="/signup" class="links" (click)="onNavItemClick()">SIGN UP</a>
  <a *ngIf="!isLoggedIn" style="color: white" routerLink="/login" class="links" (click)="onNavItemClick()">LOG IN</a>
  <a *ngIf="isLoggedIn" (click)="logout(); onNavItemClick()" style="color: white" href="#" class="links">LOG OUT</a>
</nav>
<!-- <ng-container *ngIf="isLoggedIn; else loggedOutTemplate">
  <div class="user-info">
    <span class="email">{{ userEmail }}</span>
    <button class="logout" (click)="logout()">Logout</button>
  </div>
</ng-container>
<ng-template #loggedOutTemplate>
  <a routerLink="/signup" class="links">SIGN UP</a>
  <a routerLink="/login" class="links">LOG IN</a>
</ng-template> -->