<section class="footers">
  <div class="footer-container">
    <div class="footer-logo">
      <p>
        B-2-05, Blok B, Kelana Square 17
        Jalan SS7/26, Kelana Jaya,
        47301 Petaling Jaya, Selangor,
        Malaysia</p>
      <h4>ESG AI Reporting Sdn, Bhd.</h4>
      <img src="../../assets/images/logo2.png" alt="Logo">
    </div>
    <div class="footer-nav">
      <nav>
        <a href="#">FAQ</a>
        <br>
        <a href="#">Terms And Condition</a>
        <br>
        <a href="#">Privacy Policy</a>
        <br>
        <a href="#">Blog</a>
      </nav>
    </div>
    <div class="footer-contact">
      <input type="text" class="text" placeholder="Email" name="answer" />
      <input type="text" class="text" placeholder="Phone Number" name="answer2" />
    </div>
  </div>
</section>