<section class="footers">
  <div class="footer-container">
    <!-- <div class="footer-logo">
      <img src="../../assets/images/logo2.png" alt="Logo">
      <h4>ESG AI Reporting Sdn, Bhd.</h4>
    </div>
    <div class="footer-nav">
      <nav style="display:contents">
        <a *ngFor="let item of nav" href="#">{{ item }}</a>
      </nav>
    </div>
    <div class="footer-contact">
      <input type="text" class="text" placeholder="Email" name="answer" />
      <input type="text" class="text" placeholder="Phone Number" name="answer2" />
    </div> -->
  </div>
</section>