<section class="content">
  <div class="icons">
    <img src="../../assets/images/logo.png" alt="Logo">
  </div>
  <nav class="footer-nav">
    <div>
      <a *ngFor="let item of nav" href="">{{item}}</a>
    </div>
    <div>
      <a *ngFor="let item2 of nav2" href="">{{item2}}</a>
    </div>
  </nav>
</section>
<section class="copyrights">
  <button type="button">Request Invite</button>
  <p>&copy; imowais. All Rights Reserved</p>
</section>
<section id="challenger">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="https://github.com/huyphan2210" target="_blank">ESG</a>.
</section>