<section id="hero">
  <div class="content">
    <h2>Simply your company ESG reporting <br> journey with our easy to use platform</h2>
    <p style="color:black">Simply your company ESG reporting journey with our easy to use report generation platform
      Simply your company ESG
      reporting journey with our easy to use report generation platform Simply your company ESG reporting journey with
      our easy to use report generation platform</p>
    <button type="button">JOIN US</button>
  </div>
  <div style="display: none;" class="images">
    <img src="../../assets/images/image-mockups.png" alt="Hero Image">
  </div>
</section>
<section id="reason">
  <h2>How To Use The Tool</h2>
  <div class="reason-list">
    <div class="reason-item">
      <img class="divs" src="../../assets/images/award.png" alt="Award Image">
      <p >Tell us about <br> your business</p>
    </div>
    <div class="reason-item">
      <img class="divs" src="../../assets/images/award.png" alt="Award Image">
      <p >Answer the <br> questions under each <br> material topics </p>
    </div>
    <div class="reason-item">
      <img class="divs" src="../../assets/images/award.png" alt="Award Image">
      <p >Submit all your <br> answers get your report <br> generated </p>
    </div>
  </div>
</section>
<section id="articles">
  <h2 style="text-align: center;">Pricing Plans</h2>
  <br>
  <br>
  <br>
  <p style="font-size: 21px; font-weight: 600; width: 100%; text-align: center; line-height: 1.8;">Free Access !<br><br>
    Create your ESG AI account to <br> use our tool for free. Access <br> now before the the platform <br> end the free
    access period<br> <br>
    ESG AI yearly subscription <br> fees is RM 600. Subscribers <br> will need to subscribe to the <br> platform in
    order to generate<br>
    ESG report after the free <br> access period ended. </p>
</section>