<section id="hero">
  <div class="content">
    <h2>Simply your company ESG reporting <br> journey with our easy to use platform</h2>
    <p style="color:black">Simply your company ESG reporting journey with our easy to use report generation platform
      Simply your company ESG
      reporting journey with our easy to use report generation platform Simply your company ESG reporting journey with
      our easy to use report generation platform</p>
    <button type="button">JOIN US</button>
  </div>
  <div style="display: none;" class="images">
    <img src="../../assets/images/image-mockups.png" alt="Hero Image">
  </div>
</section>
<section id="reason">
  <h2>How To Use The Tool</h2>
  <div class="reason-list">
    <div class="reason-item">
      <img class="divs" src="../../assets/images/award.png" alt="Award Image">
      <p style="color:white">Tell us about <br> your business</p>
    </div>
    <div class="reason-item">
      <img class="divs" src="../../assets/images/award.png" alt="Award Image">
      <p style="color:white">Answer the <br> questions under each <br> material topics </p>
    </div>
    <div class="reason-item">
      <img class="divs" src="../../assets/images/award.png" alt="Award Image">
      <p style="color:white">Submit all your <br> answers get your report <br> generated </p>
    </div>
  </div>
</section>
<section id="articles">
  <div
    style="border: 1px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 2.0);background-color: #84c5be;border-radius: 48px;">
    <h2 style="text-align: center;">Pricing Plans</h2>
    <span>ESG AI SUBSCRIPTION</span>
    <div> <span>RM 600</span> <span>per year</span></div>
    <span>FREE ACCESS NOW!</span>
    <br>
    <br>
    <br>
    <p style="font-size: 21px; font-weight: 600; width: 100%; text-align: center; line-height: 1.8;">Free Access
      !<br><br>
      Create your ESG AI account to use our tool for free. Accessnow before the the platform end the
      free
      access period<br>
      ESG AI yearly subscription fees is RM 600. Subscribers will need to subscribe to the platform in
      order to generate<br>
      ESG report after the free access period ended. </p>
    <button>JOIN US</button>
  </div>
</section>