<section class="hero" id="hero">
  <div class="content">
    <h1>Simplifies your company ESG reporting <br> journey with our easy to use platform</h1>
    <p>Simplifies your company ESG reporting journey with our easy to use report generation platform
      Simplifies your company ESG
      reporting journey with our easy to use report generation platform Simplifies your company ESG reporting journey
      with
      our easy to use report generation platform</p>
    <button class="btn" type="button">JOIN US</button>
  </div>
  <div style="display: none;" class="images">
    <img src="../../assets/images/image-mockups.png" alt="Hero Image">
  </div>
</section>
<div class="section">
  <section id="reason">
    <h2>How To Use The Tool</h2>
    <div class="reason-list">
      <div class="reason-item">
        <div>
          <img class="divs" src="../../assets/images/howtouse01.png" alt="Award Image">
        </div>
      </div>
      <div class="reason-item">
        <div>
          <img class="divs" src="../../assets/images/howtouse02.png" alt="Award Image">
        </div>
      </div>
      <div class="reason-item">
        <div>
          <img class="divs" src="../../assets/images/howtouse03.png" alt="Award Image">
        </div>
      </div>
    </div>
  </section>
  <section id="articles">
    <div
      style=" text-align: center; border: 1px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 2.0);background-color: #84c5be;border-radius: 48px;">
      <div style="padding: 5%;">
        <h2 style="text-align: center;">Pricing Plans</h2>
        <br>
        <span>ESG AI SUBSCRIPTION</span>
        <br>
        <div class="price-container">
          <span class="price">RM600</span>
          <span>per year</span>
        </div>
        <br>
        <span style="font-family: 'tahoma' !important;font-size: 39px;color:var(--dark-blue);;line-height: 35px;">FREE
          ACCESS <br>
          NOW!</span>
        <br>
        <p style=" font-size: 21px; font-weight: 600; width: 100%; text-align: center; line-height: 110%;">
          Create your ESG AI account to use our tool for free. Accessnow before the the platform end the
          free
          access period<br>
        </p>
        <span style="color: white;font-style: italic;">"Subscribers need to subscribe to the platform in order to
          generate
          ESG report after the free access period
          ended"</span>
        <br>
        <br>
        <button [routerLink]="['signup']" class="btn">JOIN US</button>
      </div>
    </div>
  </section>
</div>